.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 4px;
    padding: 72px 24px 24px;
    width: 408px;
    height: 582px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    overflow-y: auto;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background: #e7e9fc;
}
.form-modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.form-fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}
.div-fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 360px;
    height: 336px;
}
.div-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    
} 
.form-textarea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    width: 360px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.fom-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.link-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.form-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 38px;
    width: 360px;
    height: 40px;
    max-width: 360px;
    min-height: 40px;
    padding-left: 24px;
    outline: transparent;
}
.form-input:checked + .link-icon {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    padding: 8px 38px;
    width: 360px;
    height: 40px;
    max-width: 360px;
    min-height: 40px;
    }
.form-checkbox {
        border-radius: 2px;
border: 0.88px solid rgba(46, 47, 66, 0.4);
    }
.model-form-checkbox-icon {
    opacity: 0;
    }
.sr-only:checked + .model-form-checkbox .model-form-checkbox-icon {
    opacity: 1;
}
.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}
.send {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.button-submit:hover,
.button-submit:focus {
    background-color: #404bbf;
}